//-/ layout.jade - the basic wrapper
//-/ so other files can inherit this structure - we only focus on their content
doctype html
html
  head
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/main.css")
  
  body
    h1 This is the body.

    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/lodash.js")
    script(type="text/javascript", src="/js/angular.js")
